.wraper {
  padding: 10px;
  border: 4px double #cb1ccede;
  border-radius: 10px;
  box-shadow: inset 0.3em 0.3em 1em #c800b499;
}

.avatar {
  margin-bottom: 10px;
}

.name {
  text-align: center;
  color: blueviolet;
}

.status.isOnline {
  color: green;
}
.status.isOffline {
  color: red;
}
